body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#section-left {
  height: 100%;
  float:left;    
}
#section-right {
  width: Auto;
  height: 100%;
  float:left;
}

#section-top {
  width: Auto;
  height: 100%;
  float:top;
  padding: 90px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width:100px;
}

.missionfunctions {
  opacity: 0.9;
  align-content: left;
  display: flex;
  justify-content: space-between;
  width: Auto;
  height: auto;
  padding-bottom: 200px;
  padding: 20px;  
  flex-direction: column;}

/* Styling for aircraft drag capability*/
.flexbox {
opacity: 0.9;
align-content: left;
display: flex;
justify-content: space-between;
width: 90vh;
max-width: 650px;
height: 100vh;
max-height: 100vh;
overflow: hidden;
margin: 0 auto;
padding: 20px;  
}

.flexbox .board{
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #86e46f;
  padding: 10px;
}
 

.flexbox .board .aircraft{
  padding: 1px 25px;
  background-color: #2237ee;
  cursor: pointer;
  margin-bottom:15px;
}
/* Styling for forms*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

label { 
  /* Other styling... */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
  display:block;
}


.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.button {
  display: inline-block;
  padding: 5px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.targets {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.targets.reminder {
  border-left: 5px solid green;
}

.targets h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

